<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Add products</h1>
                <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
                    <label for="name">Name</label>
                    <input type="text" name="Name" class="form-control">
                     <label for="catogory">catogory</label>
                    <input type="text" name="catogory" class="form-control">
                     <label for="price">price</label>
                    <input type="text" name="price" class="form-control">
                     <label for="Description">Description</label>
                    <input type="text" name="Description" class="form-control">
                     <label for="image">image</label>
                    <input type="file" class="form-control">
                    <button type="submit" class="btn btn-success">submit</button>
                </form>
            </div>
        </div>
    </div>
</section>